before_script:
  - apk --update add openssh-client git bash


image: alpine:latest

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  MIRROR_REPOSITORY: "git@github.com:pandora-office/pandora-web-crypt-editor.git"

stages:
  - deploy
  - pages

mirror-github:
  stage: deploy
  cache: {}
  script:
    - git checkout gh-pages && git checkout master . || true
    - echo $CI_ANY_VAR
    - echo $CI_GIT64KEY |base64 -d > mybasekey
    # set our privkey
    # Do a mirror clone of the repository
    - git clone --mirror $CI_REPOSITORY_URL
#    - ls
    # Mirror push it to the destination
    - cd $CI_PROJECT_NAME.git
#    - ls
    - ssh-agent bash -c " chmod 0600 ../mybasekey ;ssh-add ../mybasekey ;test -d $HOME && (test -d ${HOME}/.ssh || mkdir -p  $HOME/.ssh) || mkdir -p  $HOME/.ssh;(ssh-keyscan -t rsa,dsa,ecdsa github.com  ;ssh-keyscan -t rsa,dsa,ecdsa gitlab.com ) |tee  ~/.ssh/known_hosts ~/.ssh/ssh_known_hosts ;git push --mirror $MIRROR_REPOSITORY"
    - cd ..; rm -rf $CI_PROJECT_NAME.git mybasekey



pages:
  stage: deploy
  script:
  - mkdir .public && cp -r index.html favicon.ico *css *jpg lib-codemirror fonts  .public/ || true  && mv .public public
  only:
  - master
  artifacts:
    paths:
    - public
